.container {
  padding: 20px;
  background-color: #F7F3EB;
  color: #4E4E4E;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.scontainer {
  padding: 20px;
  background-color: #F7F3EB;
  color: #4E4E4E;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.paragraph-style {
  color: #647249;
  width: 60%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F3EB;
}

h1 {
  color: #A0522D;
}

a {
  color: #E97451;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-container {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 9;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.chat-container {
  display: none;
  position: fixed;
  bottom: 70px;
  left: 20px;
  z-index: 9;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container.show {
  display: block;
}

.chat-container.show {
  display: block;
}

.contact-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  color: #E97451;
  cursor: pointer;
  z-index: 1000;
}

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  left: 20px; 
  font-size: 50px;
  color: #E97451;
  cursor: pointer;
  z-index: 1000;
}

.tts-icon {
  position: fixed;
  bottom: 20px;
  left: 50%; 
  font-size: 50px;
  color: #E97451;
  cursor: pointer;
  z-index: 1000;
  transform: translateX(-50%); 
}

.input-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #4E4E4E;
  font-weight: 600;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  color: #4E4E4E;
  font-size: 14px;
}

.hidden {
  display: none;
}


button,
.link-button {
  margin: 10px auto;
  display: block;
  background-color: #DB7859;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
}

button:hover {
  background-color: #CB6149;
  border-color: #ffffff;
}

.message-status {
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}

.message-status.success {
  background-color: #c3e6cb;
  color: #155724;
}

.message-status.error {
  background-color: #f5c6cb;
  color: #721c24;
}

.link-button,
.link-button:visited {
  color: #4E4E4E;
  background-color: #E97451;
  border-radius: 6px;
  padding: 12px 20px;
  display: inline-block;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.link-button:hover,
.link-button:focus {
  background-color: #CB6149;
  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .scontainer {
    padding: 10px;
  }
  
  

  .input-field input,
  .input-field textarea,
  button {
    padding: 8px;
  }

  h1 {
    font-size: 1.5em;
  }

  .form-container {
    width: 100%;
  }
}

.custom-arrow,
.slick-next,
.slick-prev {
  width: 30px;
  height: 30px;
  color: #647249;
  background-color: #E97451;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  color: #647249;
}

.slick-next {
  right: -40px;
  color: #647249;
}

.slick-prev {
  left: -40px;
  color: #647249;
}

.slick-next,
.slick-prev {
  z-index: 25;
}

.slick-slider {
  max-width: 90%;
  margin: 20px auto;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-list {
  margin: 0 20px;
  background-color: #ffffff;
  border-radius: 25px;
}

.slick-slide img {
  width: 75%;
  height: 30vh;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.paragraph-style {
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  color: #647249;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
}

.logo-container {
  width: 100px;
  height: auto;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.title {
  color: #DB7859;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.header-button {
  text-decoration: none;
  background-color: #DB7859;
  color: #F7F3EB;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #DEAFA1;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .title {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  .title .main {
    font-size: 48px;
    display: block;
  }

  .title .sub {
    font-size: 24px;
    display: block;
  }

  .buttons-container {
    flex-direction: column;
    width: 100%;
  }

  .header-button {
    width: 100%;
    margin: 5px 0;
  }
}

/* ParentHome.css */

.parent-home-container {
  background-color: #F7F3EB;
  color: #4E4E4E;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #A0522D;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  /* Adjust the padding to separate each tab */
  display: block;
  transition: color 0.3s;
}

nav a:hover {
  color: #CB6149;
}

.route-content {
  padding: 20px;
}

/* Profile.css */

.profile-container {
  background-color: #F7F3EB;
  color: #4E4E4E;
  font-family: 'Arial', sans-serif;
}

.profile-container nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.profile-container li {
  margin: 0;
}

.profile-container nav a {
  text-decoration: none;
  color: #A0522D;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  display: block;
  transition: color 0.3s;
}

.profile-container nav a:hover {
  color: #CB6149;
}

.profile-container .profile-content {
  padding: 20px;
}

.profile-container .profile-content h2 {
  color: #A0522D;
}

.profile-container .profile-details {
  margin-top: 20px;
}

.profile-container .profile-details p {
  margin-bottom: 10px;
}

/* Add this section to your existing CSS */

/* Forms.css */

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-container,
.input-field,
.button {
  margin-bottom: 20px;
}

.input-field label {
  font-size: 18px;
  /* Increase font size */
  margin-bottom: 8px;
  color: #4E4E4E;
  font-weight: 600;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 15px;
  /* Increase padding for larger input boxes */
  margin-bottom: 15px;
  /* Increase margin for separation */
  border: 2px solid #E97451;
  /* Match the color scheme */
  border-radius: 10px;
  /* Nicely shaped borders */
  color: #4E4E4E;
  font-size: 16px;
  /* Increase font size */
}

.button {
  background-color: #E97451;
  color: #ffffff;
  padding: 15px 20px;
  /* Increase padding for larger buttons */
  border: none;
  border-radius: 10px;
  /* Nicely shaped borders */
  cursor: pointer;
  font-size: 18px;
  /* Increase font size */
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #CB6149;
  border-color: #ffffff;
}

.hours-of-operation {
  margin-top: 20px;

}

.hours-of-operation h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hours-of-operation ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.hours-of-operation li {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}

.mvv-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Aligns items at the start of the container */
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  margin: 20px 0; /* Adds some margin around the container */
}

.mvv-section {
  flex-basis: 30%; /* Each section takes up roughly 30% of the container width */
  padding: 10px; /* Adds some padding around each section */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}
